  <style>
   :double-button{
            font-size: medium;
            text-align: center;
            color:aliceblue;
            background-color: darkred;
        }
          <button>Subscribe</button>
    </style>